include README.md
include LICENSE
include requirements.txt

recursive-include retrofit/images *.png *.jpg *.jpeg *.svg
recursive-include retrofit *.json
recursive-include retrofit *.yaml *.yml
recursive-include retrofit *.txt
