include README.md
include LICENSE
include requirements.txt

recursive-include retrofit *.json
recursive-include retrofit *.yaml *.yml
recursive-include retrofit *.txt
recursive-include retrofit/templates *.html
recursive-include retrofit/images *.png *.PNG *.jpg *.jpeg *.svg
